body {
    background: linear-gradient(to bottom, #0D2185, #03081F);
    color: #f8f9fa;
    font-family: Arial, sans-serif;
    height: auto;
    margin: 0;
}

.main-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.movie-card {
    background-color: #1a1d31;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(5, 5, 5, 0.925);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 300px;
    padding: 10px;
    position: relative;
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.custom-btn {
    border-radius: 50px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom, #0D2185, #03081F);
    border: none;
    transition: background-color 0.2s ease;
}

.custom-btn:hover {
    background-color: #000000;
    transform: scale(1.05);
}

.rating-circle {
    position: absolute;
    top: 10px; 
    right: 10px; 
    width: 60px;
    height: 60px;
    z-index: 2;
}

.card-body .track {
    stroke-width: 8;
}

.card-body .filled {
    stroke-width: 8;
    transition: stroke-dashoffset 0.5s ease;
}

.rating-text {
    font-size: 40px; 
    font-weight: bold;
}

.filters {
    background-color: #000;
    padding: 15px;
    border-radius: 10px;
}

.filters h4 {
    color: #FFD700;
}

.filter-checkbox {
    margin-bottom: 10px;
}

.form-range {
    background: linear-gradient(to right, #FFD700, #03081F);
    border-radius: 10px;
}

.filters input {
    border: 1px solid #fff;
    color: #fff;
    background-color: #1a1d31;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.filters input:focus {
    outline: none;
    border-color: #FFD700;
    box-shadow: 0px 0px 5px #FFD700;
}

.filters button {
    background-color: #1b263b;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.filters button:hover {
    background-color: #FFD700;
    color: #000;
}

.sidebar {
    width: 400px;
    padding: 1rem;
    background-color: #0d1b2a;
    color: #fff;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.sidebar .filtros h3 {
    margin-top: 1rem;
}

.sidebar .genres button {
    display: inline-block;
    background-color: #1b263b;
    color: #fff;
    margin: 0.3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.sidebar .genres button:hover {
    background-color: #FFD700;
    color: #000;
    transform: scale(1.05);
}

.sidebar .genres button.selected {
    background-color: #007bff;
    color: #fff;
    border: 2px solid #0056b3;
}

.sidebar input[type="date"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}
