<app-nav></app-nav>
<body>
  <h2>Nombre de la lista: <b>{{ listName }}</b></h2>
  <button [routerLink]="['/userList']">volver</button>

  <div class="row">
    @for(movie of movies; track movie.id){
      <div class="movie-card col-md-3 mb-4 position-relative">
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="img-fluid" alt="{{ movie.title }}">

        <div class="mt-2 text-center">
          <p class="text-truncate" style="color: aliceblue;">{{ movie.title }}</p>
        </div>
      </div>
    }
  </div>
</body>