<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<body>
  <app-nav></app-nav>

  <div class="container">
    <div class="row">
      <!-- Imagen de la serie -->
      <div class="col-md-4">
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + series.poster_path"
          class="img-fluid"
          alt="{{ series.name }}"
        />
      </div>

      <!-- Detalles de la serie -->
      <div class="col-md-8">
        <div class="d-flex align-items-center">
          <h2 class="me-3">{{ series.name }}</h2>
          <button class="btn btn-light ms-auto" [routerLink]="['/']">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>

        <p><strong>Fecha de estreno:</strong> {{ series.first_air_date }}</p>
        <p>
          <strong>Valoración:</strong>
          <i class="bi bi-star-fill text-warning"></i>
          {{ series.vote_average | numberFormatPipe }}
        </p>
        <p *ngIf="series.overview">
          <strong>Descripción:</strong> {{ series.overview }}
        </p>
        <p *ngIf="!series.overview" style="color: red;">
          <strong style="color: white;">Descripción:</strong> No disponible
        </p>

        <br>

        <!-- Añadir a una lista -->
        <div>
          <h3>Añadir a una lista</h3>
          <div *ngFor="let list of userLists" class="mb-2">
            <button
              class="btn btn-primary"
              (click)="selectedListId = list.id; addToList()"
            >
              {{ list.name }}
            </button>
          </div>
        </div>

        <br>

        <!-- Temporadas de la serie -->
        <div *ngFor="let item of getSeasons(); let i = index" class="card mb-3">
          <div class="card-header">
            <h5 class="card-title">Season {{ item.season_number }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              <strong>Fecha de estreno:</strong> {{ item.air_date }}
            </p>
            <p class="card-text">
              <strong>Nº episodios:</strong> {{ item.episode_count }} episodios
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
