<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            window.location.href = "https"; 
        }, 6000); 
    });
</script>
</head>
<body class="text-center">
  <div class="container-center">
    <img src="https://i.pinimg.com/originals/7d/a4/b2/7da4b2a2fccdc1c68e60e4a081ee512d.gif" alt="First Image" class="img-large">
</div>
</body>
</html>
