<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<body>
  <app-nav></app-nav>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path" class="img-fluid" alt="{{ film.title }}">
      </div>
      <div class="col-md-8">
        <div class="d-flex align-items-center">
          <h2 class="me-3">{{ film.title }}</h2>
          <button class="btn btn-light ms-auto" (click)="goBack()"><i class="bi bi-x-lg"></i></button>
        </div>
        <p><strong>Release Date:</strong> {{ film.release_date }}</p>
        <p><strong>Rating:</strong> <i class="bi bi-star-fill text-warning"></i> {{ film.vote_average }}</p>
        <p><strong>Overview:</strong> {{ film.overview }}</p>
        @if (videoUrl) {
          <div>
            <h3>Trailer</h3>
            <iframe
              width="100%"
              height="290"
              [src]="videoUrl | safeUrl"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>
        }
      </div>
    </div>
    @if (cast.length) {
      <div>
        <h3>Cast</h3>
        <div class="row">
          @for(actor of cast; track actor.id){
          <div class="col-md-3">
            <div class="card mb-3 actor-card">
              <div class="image-container">
                <img
                  [src]="actor.profile_path ? 'https://image.tmdb.org/t/p/w200' + actor.profile_path : 'assets/rafa.JPG'"
                  class="card-img-top actor-img"
                  alt="{{ actor.name }}"
                />
                @if (!actor.profile_path) {
                  <div class="image-overlay">
                    IMAGEN NO ENCONTRADA
                  </div>
                }
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ actor.name }}</h5>
                <p class="card-text">as {{ actor.character }}</p>
              </div>
            </div>
          </div>
          }
        </div>
        <div class="text-end mt-3"> 
          <button class="show-all-cast-btn" (click)="toggleShowAllCast()">
            {{ showAllCast ? 'Show Less Cast' : 'Show All Cast' }}
          </button>
        </div>
      </div>
    }
  </div>
</body>