.container {
    color: rgb(255, 255, 255);
    padding: 20px;
  }
 
  body {
    background: linear-gradient(to bottom, #0D2185, #03081F);
    font-family: Arial, sans-serif;
    margin: 0;
    height: auto;
    background-attachment: fixed;
}


  img {
    border-radius: 8px;
    height: 600px;
    box-shadow: inset;
    box-shadow: #000000   ;
  }
 
  .actor-card {
    height: 480px;
}


.actor-img {
    height: 350px;
    object-fit: cover;
}


.image-container {
  position: relative;
}


.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.2em;
  border-radius: 8px;
}


.show-all-cast-btn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.show-all-cast-btn:hover {
  background-color: #000000;
  color: #ffffff;
}


.btn-light{
  box-shadow: #000000;
  text-shadow: #000000;
}


.btn-light:hover{
  background-color: red;
  color: black;
  border: none;
  transform: scale(1.10);  
}


/*Estilos para la parte del add to lista :) */


.add-to-list-container {
  max-width: 600px;
  margin: 20px 0;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  margin-left: 0;
}


.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f8f9fa;
}




.list-buttons {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}


.btn-list {
  width: 100%;
  max-width: 300px;
  padding: 14px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  background-color: #000000;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  text-align: left;
  align-items: flex-end;
}


.btn-list:hover {
  background-color: #000000;
  transform: scale(1.05);
  color: chocolate;
}


.btn-list span {
  padding-left: 15px;
  width: 100%;
}


.btn-list:focus {
  outline: none;
  border-color: #f8f9fa;
}


body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #0D2185, #03081F);
  font-family: Arial, sans-serif;
}


.fixed-alert {
  background-color: green;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
  width: auto;
}


.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

