<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmPeak</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
   <app-nav></app-nav>

    <section class="banner-section text-center text-white d-flex flex-column align-items-center justify-content-center">
        <h1 class="display-4 fw-bold">¡Te damos la bienvenida!</h1>
        <p class="lead mb-4">Millones de películas, series y gente por descubrir. Explora ya.</p>
        <div class="search-bar w-75 w-md-50 w-lg-25">
            <input type="text" class="form-control rounded-pill" placeholder="Buscar series, películas, etc...">
        </div>
    </section>

    <div class="container">
        <div class="section-title mb-4 text-white">
            <h2>Películas</h2>
            <hr style="height: 2px;">
        </div>
        <div class="row">
            @for(movie of moviesnewsList; track movie.id ){
            <div class="col-md-3 mb-4">
                <div class="card movie-card p-3">
                    <img [src]="'https://image.tmdb.org/t/p/w220_and_h330_face/' + movie.poster_path" class="card-img-top img-fluid rounded mb-2" *ngIf="movie.poster_path">
                    <div class="card-body text-center">
                        <p> {{movie.title}} </p>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn custom-btn btn-sm d-flex align-items-center">
                                <i class="bi bi-calendar me-2" style="font-size: 1.2rem;"></i>
                                {{movie.release_date}}
                              </button>
                              <button type="button" class="btn custom-btn btn-sm d-flex align-items-center">
                                <i class="bi bi-eye-fill me-2" style="font-size: 1.2rem;"></i>
                                {{movie.popularity}}
                              </button>
                        </div>
                    </div>
                    
                </div>
            </div>}
        </div>

        <div class="section-title mb-4 mt-5 text-white">
            <h2>Series</h2>
            <hr style="height: 2px;">
        </div>
        <div class="row">
            @for (series of seriestvnewList; track series.id) {
            <div class="col-md-3 mb-4" >
                <div class="card serie-card p-3">
                    <img [src]="'https://image.tmdb.org/t/p/w220_and_h330_face/' + series.poster_path" class="card-img-top img-fluid rounded mb-2" *ngIf="series.poster_path">
                    <div class="card-body text-center">
                        <p>{{series.name}}</p>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn custom-btn btn-sm d-flex align-items-center">
                                <i class="bi bi-calendar me-2" style="font-size: 1.2rem;"></i>
                                {{series.first_air_date}}
                              </button>
                              <button type="button" class="btn custom-btn btn-sm d-flex align-items-center">
                                <i class="bi bi-eye-fill me-2" style="font-size: 1.2rem;"></i>
                                {{series.popularity}}
                              </button>
                        </div>
                    </div>
                </div>
            </div>}
        </div>
    </div>

</body>

</html>
