/* Global styles */
body {
    /*background-color: #0b0f1f;*/
    background: linear-gradient(to bottom, #0D2185, #03081F);
    height: max-content;
    color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #000;
    color: white;
    justify-content: center;
    display: flex;
    font-size:xx-large
}

.nav-item{
    margin-inline: 50px;
    color: white;
    font-size:xx-large
}

.nav-link:hover{
    color: yellow;
    transform: scale(1.05);
}

/* Hero Section */
.hero-section {
    background-image: url('https://cloudfront-us-east-1.images.arcpublishing.com/infobae/5OCGDEDB6VCW7KUJGESRNOCCLM.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-size: auto;
    background-position: center;
    padding: 100px;
    justify-content: center;
    height: 600px;
}

.hero-section h1, .hero-section p {
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
}

.search-bar input {
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-left: 5%;
    padding: auto;
    justify-content: center;
    width: 90%;
    border-radius: 10%;
}

/* Content Section */
.section-title h2 {
    color: #f8f9fa;
}

.movie-card, .actor-card {
    background-color: #1a1d31;
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: auto;
    
}

.movie-card:hover, .actor-card:hover {
    transform: scale(1.05);
}

.img-fluid {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.actor-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.container {
    padding-top: 35px;
}

.custom-btn {
    border-radius: 50px;
    padding: 8px 12px; 
    font-size: 14px; 
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom, #0D2185, #03081F);
    border: none; 
    transition: background-color 0.2s ease;
  }
  
  .custom-btn:hover {
    background-color: #000000; 
    transform: scale(1.05);
  }