<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<body>
    <!-- Sidebar Filtros -->
    <main>
        <aside class="sidebar">
            <h2>Filtros</h2>
            <div class="filtros">
                <h3>Géneros</h3>
                <div class="genres">
                    <button>Acción</button>
                    <button>Comedia</button>
                    <button>Horror</button>
                    <button>Fantasía</button>
                    <button>Aventura</button>
                    <button>Crimen</button>
                    <button>Anime</button>
                    <button>Romance</button>
                    <button>SI-FI</button>
                </div>
                <h3>Puntuación</h3>
                <div class="rating">
                    <span>⭐️⭐️⭐️⭐️⭐️</span>
                </div>
                <h3>Fecha Estreno</h3>
                <input type="date">
            </div>
        </aside>

        <!-- Listado de series -->
        <div class="actors-list">
            @for (item of listadoSeries; track item.id) {
            <div class="actor-card">
                <img [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path" [alt]="item.name">
                <h3>{{ item.name }}</h3>
                <div class="d-flex">
                    <p class="card-text"><i class="bi bi-calendar"></i> {{item.first_air_date}}</p>
                    <p class="card-text"><i class="bi bi-eye"></i> {{item.popularity | numberFormatPipe}}</p>
                </div>
            </div>
            }
        </div>
    </main>
</body>