body {
    background: linear-gradient(to bottom, #0D2185, #03081F);
    width: 100%;
    height: max-content;
}

.main-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.sidebar {
    width: 400px;
    padding: 1rem;
    background-color: #0d1b2a;
    color: #fff;
    position: sticky;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.sidebar .filtros h3 {
    margin-top: 1rem;
}

.sidebar .genres button,
.sidebar .rating span {
    display: inline-block;
    background-color: #1b263b;
    color: #fff;
    margin: 0.3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.sidebar input[type="date"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.actors-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 auto;
    padding-top: 40px;
    max-width: 1200px;
}

.actor-card {
    position: relative;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    padding-bottom: 15px;
    overflow: hidden;
}

.actor-card:hover {
    transform: scale(1.05);
    background-color: rgb(255, 255, 255);
}

.actor-card:hover h3 {
    color: black;
}

.actor-card img {
    padding: 0px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: auto;
}

.actor-card h3 {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    margin: 10px 0 5px;
}

main {
    display: flex;
}

.actor-card div {
    justify-content: center;
}

.card-text {
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, #0D2185, #03081F);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
}

a {
    text-decoration: none;
}

.rating-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    z-index: 2;
}

.rating-text {
    font-size: 40px;
    font-weight: bold;
}