body {
  background-color: #000fb09e;
}

.main-container {
  display: flex;
  align-items: flex-start; /* Alinea el sidebar y la lista de actores al mismo nivel vertical */
  gap: 20px; /* Espacio entre el sidebar y la lista de actores */
  padding: 20px;
}

.sidebar {
  width: 300px;
  padding: 1rem;
  background-color: #0d1b2a;
  color: #fff;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sidebar .filtros h3 {
  margin-top: 1rem;
}

.sidebar .genres button,
.sidebar .rating span {
  display: inline-block;
  background-color: #1b263b;
  color: #fff;
  margin: 0.3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.sidebar input[type="date"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.actors-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
}

.actor-card {
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.actor-card:hover {
  transform: scale(1.05);
  background-color:rgb(253, 246, 246);
}

.actor-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  height: auto;
}

.actor-card h3 {
  font-size: 1.2em;
  color: whitesmoke;
  margin: 10px 0 5px;
}

.visualizaciones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: whitesmoke;
}
