/* Contenedor principal */
.create-list-container {
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/428/18/desktop-wallpaper-marvel-vintage-retro-marvel-comic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    height: 100vh;           /* Ocupa toda la altura de la ventana */
    padding: 0;              /* Sin padding adicional */
  }
  
  /* Caja que contiene el formulario */
  .box {
    background-color: white;
    width: 900px;  /* Establecemos un ancho fijo */
    max-height: 1250px;  /* Altura máxima */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Para distribuir el contenido de manera uniforme */
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Para evitar que el contenido se desborde */
    padding: 20px;   /* Padding interno */
  }
  
  /* Estilo del título */
  .create-list-container h2 {
    font-size: 50px;  /* Aumentamos el tamaño */
    margin-bottom: 20px; /* Un poco de espacio abajo del título */
    color: #333;
    text-align: center; /* Centrado del título */
    font-weight: bold;
  }
  
  /* Estilo de los campos de entrada */
  .input-container {
    margin-bottom: 15px;
  }
  
  /* Etiquetas de los campos */
  .input-container label {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #555;
  }
  
  /* Estilo para inputs, textareas y selects */
  .input-container input,
  .input-container textarea,
  .input-container select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo translúcido */
  }
  
  /* Estilo para el textarea */
  .input-container textarea {
    resize: vertical;
    height: 120px;
  }
  
  /* Estilo para el botón */
  button.submit-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  /* Efecto hover para el botón */
  button.submit-btn:hover {
    background-color: #0056b3;
  }
  
  /* Deshabilitar el botón */
  button.submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  